*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    background: linear-gradient(to top,rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%), url(https://lh5.googleusercontent.com/p/AF1QipNst-cVaQgwFE_y8qgdfsrUxAWePb7xwdMuXo-7=w408-h306-k-no);
    background-position: center;
    background-size: cover;
}
.inner{
    overflow: hidden;
    }
.inner img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid yellow;
    transition: all .5s ease;
    filter: blur(10px);
    opacity: 0.5;
}
.inner:hover img{
    transform: scaleX(1.5);
}
.myprof{
    display: flex;
    justify-content: end;
}
.myprof a{
    color: #fff;
    font-size: small;
    margin: -45px 20px;
    transition: .3s;
}
.myprof a:hover{
    font-style: oblique;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: yellow;
}
.row .card{
    border: 3px solid #ff02c0;
    /* background: #5614B0;   fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #DBD65C, #5614B0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background: #77777790;
    animation: anim 2s linear infinite;
}
.row .card h6 span{
    letter-spacing: 1px;
    margin: 5px;
}
@keyframes anim{
    50%{
        border-color:  green;
    }
    
    100%{
        border-color: yellow;
    }
}
.card .butt{
    display: flex;
    justify-content: center;
    align-items: center;
}    
button svg{
    margin-right: 6px;
    animation: anim2 2s linear infinite;
}
@keyframes anim2{
    
    50%{
        color: #ff02c0;
    }
    80%{
        color: green;
    }
    100%{
        color: yellow;
    }
}
.social a{
    text-decoration: none;
    font-size: 35px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 0;
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.6);
    overflow: hidden;
    transition: all 30ms ease;
    margin: 10px;
}
.social a:hover{
    width: 100px;
}
.social a .name{
    font-size: 12px;
    font-weight: bold;
}
.social a:nth-of-type(1){
    color: #4267b2;
}
.social a:nth-of-type(2){
    color: #1da1f2;
}
.social a:nth-of-type(3){
    color: #e1306c;
}
@media screen and (max-width:400px){
    .inner img{
        width: 160px;
        height: 160px;
    }
    .inner:hover img{
        transform: scaleX(1.4);
    }
}